@font-face {
    font-family: Vazir;
    src: url(../fonts/Vazir-Regular.ttf);
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}
html, body {
    font-family: 'Vazir', Arial, Helvetica, sans-serif;
    background: rgb(167, 0, 64);
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    text-align: center;
}
img {
    max-width: 100%;
}
ul, li {
    list-style: none;
    text-align: center;
}
.music-box {
    position: absolute;
    top: 30%;
    min-width: 500px;
    min-height: 200px;
    background: #1C2025;
    border-radius: 3px;
}
.cover {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0px;
}
.controls {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0px;
    padding: 20px;
    text-align: right;
}
.controls h2 {
    margin: 0px 0px 30px 0px;
    color: #F1F1F1;
}
.controls h4 {
    margin: 10px 0px 20px 0px;
    color: #F1F1F1;
    font-weight: normal;
}
.slider {
    width: 260px;
    height: 4px;
    background: #151518;
    border-radius: 2px;
}
.slider:hover {
    cursor: pointer;
}
.elapsed {
    width: 4px;
    height: 4px;
    margin-top: 1px;
    background: #EF6DBC;
    border-radius: 2px;
}
.timer {
    margin: 10px 0px 10px 0px;
    color: #494B4E;
    line-height: 0px;
    font-size: 12px;
    float: left;
}
.icons {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0px;
    right: 0px;
    padding: 20px 20px 35px 20px;
    text-align: right;
}
.icons li {
    display: inline;
    color: #F1F1F1;
    margin: 0px 5px;
}
.icons li:hover {
    cursor: pointer;
    color: #EF6DBC;
}
.icons .spaced {
    margin-left: 32px;
}
#range-item {
    margin: 0px;
    cursor: default;
}
#vol-slider {
    -webkit-appearance: none;
    width: 50px;
    height: 4px;
    direction: ltr;
    position: relative;
    bottom: 4px;
    background: #151518;
    background-image: linear-gradient(#EF6DBC, #EF6DBC);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 2px;
    user-select: none;
}
#vol-slider:hover {
    cursor: pointer;
}
#vol-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: #EF6DBC;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}
#vol-slider::-moz-range-thumb {
    background: #EF6DBC;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}